<div class="row">
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body text-center">
                <%= gravatar_for current_user %>

                <h1><%= current_user.name %></h1>
                <%= current_user.email %>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <%= form_for(:micropost, url: microposts_path) do |f| %>
                    <div class="input-group">
                        <%= f.text_area :content, class: "form-control", placeholder: "Share your thoughts..." %>

                        <div class="input-group-append">
                            <%= f.submit "Post", class: "btn btn-primary"%>
                        </div>
                    </div>
                <% end %>
            </div>

            <div class="card-body">
                <h4>Micropost feed</h3>
                <hr>

                <% if @microposts.any? %>
                    <% @microposts.each do |micropost| %>
                        <!-- Temporary display for micropost content -->
                        <div><%= micropost.content %></div>
                    <% end %>
                <% else %>
                    <div class="text-muted">Nothing to show</div>
                <% end %>
            </div>
        </div>
    </div>
</div>
